In [2]:
#basic strings

string = "apple"
for char in string:
    print(char)

a
p
p
l
e

In [1]:
name = "test"
number = "0011"
print(name,number)

test 0011

In [2]:
list1 = [name,number]
list1

['test', '0011']

In [3]:
addr = "3375 okland st"
country = "USS"

In [4]:
list2 = [addr, country]

In [5]:
list3 = [list1,list2]

In [6]:
list3

[['test', '0011'], ['3375 okland st', 'USS']]

In [7]:
# Indexing example 
L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]
L[0]

# Slicing
L[0:3]

['Chemistry', 'Biology', [1989, 2004]]

In [8]:
# extend()
L = ["Chemistry", "Biology", [1989,  2004] ,("Oreily" , "Pearson")]
L.extend([5, 8])
L

['Chemistry', 'Biology', [1989, 2004], ('Oreily', 'Pearson'), 5, 8]

In [9]:
# append()
L = ["Chemistry", "Biology", [1989,  2005], ("Oreily" , "Pearson")]
L.append([5, 8])
L

['Chemistry', 'Biology', [1989, 2005], ('Oreily', 'Pearson'), [5, 8]]

In [12]:
List = [1,4,7,2,4,3]
List.sort()
List
List.sort(reverse=True)
List

[7, 4, 4, 3, 2, 1]

In [15]:

input_list = ['SAS', 'R', 'PYTHON', 'SPSS']
# Write code to remove 'SPSS'
input_list.pop()
# Write code to append 'SPARK'
input_list.append("SPARK")
print(input_list)

['SAS', 'R', 'PYTHON', 'SPARK']

# List to String
Description
Convert a list ['Pythons syntax is easy to learn', 'Pythons syntax is very clear'] to a string using ‘&’. The sample output of this string will be:
Pythons syntax is easy to learn & Pythons syntax is very clear

Note that there is a space on both sides of '&' (as usual in English sentences).
Execution Time Limit
15 seconds

In [17]:
list1 = ['Pythons syntax is easy to learn', 'Pythons syntax is very clear'] 
list2 = str(f"{list1[0]} & {list1[1]}")
list2

'Pythons syntax is easy to learn & Pythons syntax is very clear'

In [19]:
#shadow copying
A = [0,1,2]
B = A
print(A,B)
A[0] = 5
print(A,B)

[0, 1, 2] [0, 1, 2]
[5, 1, 2] [5, 1, 2]

In [20]:
#resolve shadow copying
A = [0,1,2]
B = A[:]
print(A,B)
A[0] = 5
print(A,B)

[0, 1, 2] [0, 1, 2]
[5, 1, 2] [0, 1, 2]

In [31]:
input_str = 'Kumar_Ravi_003' 

x = input_str.split("_")[0]

print(x)

Kumar

# Split the string input_str = 'Kumar_Ravi_003' to the person's second name, first name and unique customer code. In this example, second_name= 'Kumar', first_name= 'Ravi', customer_code = '003'.



A sample output of the input 'Kumar_Ravi_003' is:

Ravi
Kumar
003
 

Note that you need to print in the order first name, last name and customer code.

In [32]:
input_str = 'Kumar_Ravi_003' 
first_name = input_str.split("_")[1]
second_name = input_str.split("_")[0]
customer_code = input_str.split("_")[2]
print(first_name)
print(second_name)
print(customer_code)

Ravi
Kumar
003

In [33]:
A = [0,1,2]
A

[0, 1, 2]

In [34]:
A.append([2,3])
A

[0, 1, 2, [2, 3]]

In [36]:
A.extend([2,3])
A

[0, 1, 2, [2, 3], 2, 3]