In [1]:
t = (1,2,3,4)
t

(1, 2, 3, 4)

In [2]:
t[0]

1

In [4]:
type(t)

tuple

In [9]:
# not single valued tuple
sample1 = 1
print(sample1)
type(sample1)

1
1

int

In [10]:
# not single valued tuple
sample2 = (1)
print(sample2)
type(sample2)

1

int

In [11]:
#indexing in tuples
t = (1,"a",2)
t

(1, 'a', 2)

In [12]:
t[0]

1

In [13]:
t[-1]

2

In [17]:
# tuples and strings
t1 = ("deepak",1,2)
t1[0][3]

'p'

In [19]:
#immutability
t2 = (1,2,3)
t2[0] = 3
#error - TypeError: 'tuple' object does not support item assignment

TypeError: 'tuple' object does not support item assignment

In [20]:
t =("USA",3,4,"Disco",7.5)
new_tuple = t[0:3] + ("Hard Rock",) + t[4:]
new_tuple

('USA', 3, 4, 'Hard Rock', 7.5)