In [1]:
t = (1,2,3,4)
t

(1, 2, 3, 4)

In [ ]:
t[0]

In [ ]:
type(t)

In [ ]:
# not single valued tuple
sample1 = 1
print(sample1)
type(sample1)

In [ ]:
# not single valued tuple
sample2 = (1)
print(sample2)
type(sample2)

In [ ]:
#indexing in tuples
t = (1,"a",2)
t

In [ ]:
t[0]

In [ ]:
t[-1]

In [ ]:
# tuples and strings
t1 = ("deepak",1,2)
t1[0][3]

In [ ]:
#immutability
t2 = (1,2,3)
t2[0] = 3
#error - TypeError: 'tuple' object does not support item assignment

In [ ]:
t =("USA",3,4,"Disco",7.5)
new_tuple = t[0:3] + ("Hard Rock",) + t[4:]
new_tuple

In [ ]:
#concat

t1 = 1,3,4
t2 = 4,6,7
t3 = t1 + t2
t3

In [ ]:
#math on tuples
tuple = (2,3.2,4,5)
print(sum(t1))

In [ ]:
max(t1)

In [ ]:
min(t1)

In [ ]:
#math on tuples
tuple1 = (2,3.2,4,5)
print(sum(tuple1))

In [ ]:
#nested tuples
t = (1.5,6,7,"python",4)
t

In [ ]:
t[3]

In [ ]:
t[3][1]

In [ ]:
t = (1.5,6,7,("python","java"),4)
t

In [ ]:
t[3]

In [ ]:
t[3][1]

In [ ]:
t[3][1][2]

In [ ]:
#packing
t = (1,2,3,4)
t

In [ ]:
#unpacking
(a,b,c,d) = t
t

In [ ]:
#errored unpacking
(a,b,d) = t
t

In [ ]:
#dir()

t = ()
print(dir(t))